<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">
      <header class="header">
        <h1>Yipeng Wang-N01625427</h1>
      </header>

      <main class="content">
      {{{body}}}
      </main>
    
    <footer class="footer">
      <p>Email: wyp23736761@gmail.com</p>
    </footer>
    </div>

  </body>
</html>