<!-- main.hbs is the default layout handlebars template file to render consistence html structure 
such as <html>, <head>, <body> across all pages. It defines a layout with a {{{body}}} placeholder 
that gets replaced by the content of specific views like index.hbs or error.hbs. In the app.js, 
it is used by passing layout: ‘main’ in the res.render(…). -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">
      <header class="header">
        <h1>Yipeng Wang-N01625427</h1>
      </header>

      <main class="content">
      {{{body}}}
      </main>
    
    <footer class="footer">
      <p>Email: wyp23736761@gmail.com</p>
    </footer>
    </div>

  </body>
</html>