<!-- index.hbs is used as the home page content. It will start to render when the user visits route /. 
Error.hbs is used when the route doesn’t exist (404 error). Each of these is inserted into main.hbs 
through the {{{body}}} placeholder. -->
<div class="content">
<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
</div>